<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="episerver.find" type="EPiServer.Find.Configuration, EPiServer.Find" requirePermission="false" />
    <section name="log4net" type="System.Configuration.IgnoreSectionHandler" />
  </configSections>
  <appSettings>
  </appSettings>
  <log4net>
    <appender name="PapertrailRemoteSyslogAppender" type="log4net.Appender.RemoteSyslogAppender">
      <facility value="Local6" />
      <identity value="%date{yyyy-MM-ddTHH:mm:ss.ffffffzzz} %P{log4net:HostName} Crawler" />
      <layout type="log4net.Layout.PatternLayout" value="%level - %message%newline" />
      <remoteAddress value="logs.papertrailapp.com" />
      <remotePort value="53462" />
      <threshold value="Info" />
    </appender>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <file value="logs\" />
      <datePattern value="dd.MM.yyyy'.log'" />
      <staticLogFileName value="false" />
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="5MB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>

    <appender name="console" type="log4net.Appender.ConsoleAppender">
      <layout name="common" type="log4net.Layout.PatternLayout">
        <conversionPattern value="%level %method - %message%newline" />
      </layout>
      <threshold value="Info" />
    </appender>
    
    <root>
      <level value="ALL" />
      <appender-ref ref="RollingLogFileAppender" />
      <appender-ref ref="PapertrailRemoteSyslogAppender" />

      <appender-ref ref="console" />
    </root>
  </log4net>
  <episerver.find serviceUrl="https://findservice.episerver.com/your_private_key/" defaultIndex="your_index201083" />
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" /></startup><runtime><assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1"><dependentAssembly><assemblyIdentity name="EPiServer.Find" publicKeyToken="8fe83dea738b45b7" culture="neutral" /><bindingRedirect oldVersion="0.0.0.0-13.0.5.0" newVersion="13.0.5.0" /></dependentAssembly>
  <dependentAssembly>
    <assemblyIdentity name="System.Text.Encoding.CodePages" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
    <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
  </dependentAssembly>
</assemblyBinding></runtime></configuration>
